<html>
  <head>
    <title>Place details</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 50%;
        width: 50%;
      }
    </style>
    <script src="./mapfunc.js">
    </script>
  </head>
  <body>
    <div id="map"></div>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBi8SkivLsXgEDaDsnQuB1RggPLjl1atsU&libraries=places&callback=initMap">
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBi8SkivLsXgEDaDsnQuB1RggPLjl1atsU&libraries=places"></script>
  </body>
</html>
