<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav_bar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/container.css" type="text/css" />
    <link rel="stylesheet" href="/styles/side_bar.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript">
      var cid = <%- cid %>;
    </script>

    <!-- Get markers for a particular map using AJAX -->


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="   sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="   sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="   sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <style type="text/css">
      /*Business Card Css */
.business-card {
  border: 1px solid #cccccc;
  background: #f8f8f8;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.profile-img {
  height: 120px;
  background: white;
}
.job {
  color: #666666;
  font-size: 17px;
}
.mail {
  font-size: 16px;
 }
  </style>

  <body>
            <%- include('navbar'); %>

    <div class='container-fluid height-100' style="padding-top: 51px;">
        <div class="row height-100">

    <div class="container left-container" style="z-index: 50"></div>

    <div class='container-fluid height-100' style="padding-left:0; padding-right:0; padding-top: 51px;">
        <div class="row height-100" style="margin-top: 0;">
            <div class="col-md-12 height-100" id="no-padding">
            <%- include('map'); %>
            </div>
        </div>
    </div>

    <%- include('markers_list') %>
        </div>
    </div>
  </body>
</html>
