<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav_bar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/container.css" type="text/css" />
    <link rel="stylesheet" href="/styles/side_bar.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- Get markers for a particular map using AJAX -->
    <script type="text/javascript" src="/scripts/get-markers.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="   sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="   sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="   sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>
            <%- include('navbar'); %>
    <div class='container-fluid height-100' style="padding-top: 51px;">
        <div class="row height-100">
            <div class="col-md-12 height-100" id="no-padding">
            <%- include('map'); %>
            </div>
        </div>
    </div>
    <div style="position: absolute; top: 100px; z-index: 1000; right: 10px;">
        <div>
            <div  style="width: 100%">
            <button class="btn btn-primary" type="button" data-toggle='collapse' data-target='#places-dropdown' aria-expanded="false" aria-controls="places-dropdown" style="width: 100%">HEY</button>
            <div class="collapse" id="places-dropdown" style="position: absolute;">
                <div class="well">
                  <p>uyfwgiudwgbofuwbofeuwboufwbofweubofwubfowuvfowuvfowduvfoewuv</p>
                </div>
            </div>
            </div>
        </div>
    </div>
  </body>
</html>
