<% if (!username) { %>

<form method="POST" action="/login">
  <input type="text" name="username">
  <input type="password" name="password">
  <input type="submit" value="Login">
</form>

<% } else { %>

<p>User: <%= username %></p>

<form method="POST" action="/logout">
  <input type="submit" value="Logout">
</form>

<% } %>
