
<form method="POST" action="/login">
  <input type="text" name="username" placeholder="User Name">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Login">
</form>



<form method="POST" action="/logout">
  <input type="submit" value="Logout">
</form>

