<!DOCTYPE html>
<html lang="en">
  <head>

  </head>

  <body>

    <h1>Existing Collections</h1>

    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Latitude</th>
        <th>Longitude</th>
      </tr>

      <% for (var key in markers) { %>
      <tr>
        <td><%= markers[key].name %></td>
        <td><%= markers[key].description %></td>
        <td><%= markers[key].latitude %></td>
        <td><%= markers[key].longitude %></td>
      </tr>
      <% } %>

    </table>

  </body>
</html>
