<!DOCTYPE html>
<html>
<head>
<meta http-equiv="refresh" content="30; url=/" />
  <title></title>
</head>
<body>
  <h1>YOU MUST BE LOGGED IN TO VIEW THIS PAGE</h1>
  <h4>or it doesn't exist....</h4>
  <p> </p>
  <p> </p>
  <p> </p>
  <h3>Redirecting to home in 30 seconds</h3>`
  <img src="/pictures/sorry.gif"/>
</body>
</html>