<!DOCTYPE html>
<html>
<head>
<meta http-equiv="refresh" content="30; url=/" />
  <title></title>
</head>
<body>
  <h1>Redirecting in 30 seconds</h1>`
  <img src="/pictures/oops_sorry.gif"/>
  <p>
  Hey man, some weird stuff happened or something. I dunno. Here you figure it out
  </p>
  <a href="/"><p>Or click here to go back to home</p></a>
  <p>
  <%- errorMessage %>
  </p>
</body>
</html>
